---
import Layout from "@/layouts/Layout.astro";
import BotonesContacto from "@/components/BotonesContacto.astro";
import { getI18N } from "@/i18n";

const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale });
---

<Layout title={i18n.SECTION_404.TITLE} i18n={i18n} curentLocale={currentLocale}>
  <main>
    <h1>{i18n.SECTION_404.TITLE}</h1>

    <article>
      <p>
        {i18n.SECTION_404.TEXT}
      </p>
      <BotonesContacto i18n={i18n} clase="botones-dos" />
    </article>

    <a href={currentLocale === "en" ? "/" : "/es/"} class="boton-uno">
      {i18n.SECTION_404.BUTTON_TEXT}
    </a>
  </main>
</Layout>

<style>
  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

    h1 {
      margin: 0;
      text-align: center;
      color: var(--texto-color);
    }
  }

  article {
    margin: 50px 0;

    p {
      max-width: 40ch;
      text-align: center;
    }
  }
</style>
