---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Project from '../components/Project.astro';
import { PROJECTS } from '../constants';
---

<Layout title="Randy Ochoa Nuñez">
	<Header />

	<section class="grid gap-6">
		{PROJECTS.map(project => {
			return (
				<Project
					title={project.title}
					description={project.description}
					technologies={project.technologies}
					github={project.github}
					web={project.web}
					image={project.image}
				/>
			)
		})}
	</section>

	<p>Tecnologias</p>
	<p>Que mas puedo Agregar?</p>
</Layout>
