---
import Layout from "@/layouts/Layout.astro";
import Navbar from "./Navbar.astro";
import Header from "@/components/Header.astro";
import Proyectos from "@/components/Proyectos.astro";
import Contacto from "@/components/Contacto.astro";
import { getI18N } from "@/i18n";

const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale });
---

<Layout title={i18n.HEADERS.TITLE} i18n={i18n} curentLocale={currentLocale}>
  <Navbar i18n={i18n} currentLocale={currentLocale} />
  <Header i18n={i18n} />
  <main>
    <Proyectos i18n={i18n} />
    <Contacto i18n={i18n} />
  </main>
</Layout>
