---
import IconGithub from '../Icons/IconGithub.astro';
import IconWorld from '../Icons/IconWorld.astro';

interface Props {
  title: string,
  description: string,
  github: string,
  web: string,
  image: string
}

const { title, description, github, web, image } = Astro.props
---

<article class="flex flex-col max-w-xl bg-custom-three rounded-xl shadow-xl overflow-hidden dark:shadow-none dark:bg-custom-five md:flex-row md:max-w-none">
  <img 
    src={image} 
    alt={title}
    class="object-cover md:w-6/12"
  />

  <div class="p-4 ">
    <h3 class="text-3xl font-bold"> {title} </h3>
    <p class="my-5"> {description} </p>

    <div class="flex gap-3 my-5">
      <slot />
    </div>

    <div class="flex gap-3">
      <a 
        href={github} 
        target="_blank"
        class="button w-full gap-2"
      >
        <IconGithub width="25" height="25" />
        GitHub
      </a>
    
      <a 
        href={web} 
        target="_blank"
        class="button w-full gap-1"
      >
        <IconWorld width="30" height="30" />
        Sitio Web
      </a>
    </div>
  </div>
</article>