---
import Proyectos from "@/proyectos.json";
import IconHTML from "@/Icons/IconHTML.astro";
import IconCSS from "@/Icons/IconCSS.astro";
import IconSass from "@/Icons/IconSass.astro";
import IconTailwind from "@/Icons/IconTailwind.astro";
import IconJS from "@/Icons/IconJS.astro";
import IconReact from "@/Icons/IconReact.astro";
import IconWorld from "@/Icons/IconWorld.astro";
import IconGithub from "@/Icons/IconGithub.astro";

const TECNOLOGIAS_ICONS = {
  HTML: IconHTML,
  CSS: IconCSS,
  Sass: IconSass,
  Tailwind: IconTailwind,
  JS: IconJS,
  React: IconReact,
};
---

<section id="proyectos" class="flex flex-col items-center gap-12 py-28">
  <h2 class="text-3xl font-bold">PROYECTOS</h2>

  {
    Proyectos.map(
      ({ titulo, descripcion, tecnologias, github, web, imagen }) => (
        <article class="flex flex-col max-w-xl bg-custom-blue-300 rounded-xl shadow-xl overflow-hidden dark:shadow-none dark:bg-custom-blue-700 md:flex-row md:max-w-none">
          <img src={imagen} alt={titulo} class="object-cover md:w-6/12" />

          <div class="p-4">
            <h3 class="text-3xl font-bold"> {titulo} </h3>
            <p class="my-5"> {descripcion} </p>

            <div class="flex gap-3 my-5">
              {tecnologias.map((tecnologia) => {
                const Icon = TECNOLOGIAS_ICONS[tecnologia];

                return <Icon width="50" height="50" />;
              })}
            </div>

            <div class="flex gap-3">
              <a href={github} target="_blank" class="button w-full gap-2">
                <IconGithub width="25" height="25" />
                GitHub
              </a>

              <a href={web} target="_blank" class="button w-full gap-1">
                <IconWorld width="30" height="30" />
                Sitio Web
              </a>
            </div>
          </div>
        </article>
      ),
    )
  }
</section>
