---
import IconWorld from "@/Icons/IconWorld.astro";
import IconGithub from "@/Icons/IconGithub.astro";
import { TECNOLOGIAS_ICONOS } from "@/consts";
import { PROYECTOS } from "@/consts";
---

<section id="proyectos" class="proyectos">
  <h2>PROYECTOS</h2>

  {
    PROYECTOS.map(
      ({ titulo, descripcion, tecnologias, github, web, imagen }) => (
        <article class="proyecto">
          <img src={imagen} alt={titulo} />

          <div class="informacion">
            <h3> {titulo} </h3>
            <p> {descripcion} </p>

            <div class="tecnologias">
              {tecnologias.map((tecnologia) => {
                const Icon = TECNOLOGIAS_ICONOS[tecnologia];

                return <Icon width="50" height="50" />;
              })}
            </div>

            <div class="botones">
              <a href={github} target="_blank">
                <IconGithub width="25" height="25" />
                GitHub
              </a>

              {web && (
                <a href={web} target="_blank">
                  <IconWorld width="30" height="30" />
                  Sitio Web
                </a>
              )}
            </div>
          </div>
        </article>
      ),
    )
  }
</section>

<style>
  .proyectos {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 48px;

    h2 {
      font-size: 30px;
      font-weight: bold;
    }
  }

  .proyecto {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    overflow: hidden;
    border-radius: 12px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.5);

    @media (width > 800px) {
      max-width: none;
      flex-direction: row;
    }

    img {
      object-fit: cover;
      width: 100%;

      @media (width > 800px) {
        width: 50%;
      }
    }
  }

  .informacion {
    padding: 16px;

    h3 {
      font-size: 25px;
      font-weight: 700;
    }

    p {
      margin: 20px 0;
    }
  }

  .tecnologias {
    display: flex;
    gap: 12px;
    margin: 20px 0;
  }

  .botones {
    display: flex;
    gap: 12px;

    a {
      width: 100%;
      max-width: 50%;
    }
  }
</style>
