---
import IconWorld from "@/Icons/IconWorld.astro";
import IconGithub from "@/Icons/IconGithub.astro";
import { TECNOLOGIAS_ICONOS } from "@/consts";
import { PROYECTOS } from "@/consts";
import IconCode from "@/Icons/IconCode.astro";
import { getI18N } from "@/i18n";

const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale });
---

<section id={i18n.NAVBAR.PROJECTS}>
  <h2>
    <IconCode width="40" height="40" />
    {i18n.PROJECTS.TITLE}
  </h2>

  <div class="proyectos">
    {
      PROYECTOS.map(
        ({ titulo, descripcion, tecnologias, github, web, imagen }) => (
          <article class="proyecto">
            <img src={imagen} alt={titulo} />

            <div class="informacion">
              <h3> {titulo} </h3>
              <p> {i18n.PROJECTS[descripcion]} </p>

              <div class="tecnologias">
                {tecnologias.map((tecnologia) => {
                  const Icon = TECNOLOGIAS_ICONOS[tecnologia];

                  return (
                    <div class="icon-container">
                      <Icon class="icon" width="50" height="50" />
                      <span> {tecnologia} </span>
                    </div>
                  );
                })}
              </div>

              <div class="botones boton-uno">
                {github && (
                  <a href={github} target="_blank">
                    <IconGithub width="25" height="25" />
                    {i18n.BUTTONS.GITHUB}
                  </a>
                )}

                {web && (
                  <a href={web} target="_blank">
                    <IconWorld width="30" height="30" />
                    {i18n.BUTTONS.WEB}
                  </a>
                )}
              </div>
            </div>
          </article>
        ),
      )
    }
  </div>
</section>

<style>
  section {
    padding: 50px 0;
  }

  .proyectos {
    display: flex;
    flex-direction: column;
    gap: 48px;
  }

  .proyecto {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin: auto;
    overflow: hidden;
    border-top: var(--texto-color) 10px solid;
    border-radius: 12px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.5);
    background-color: var(--color-primario);
    animation-timeline: view();
    animation-name: mostrar;
    animation-fill-mode: both;
    animation-range: entry 25% cover 50%;

    @media (width > 800px) {
      max-width: none;
      flex-direction: row;
    }

    img {
      object-fit: cover;
      width: 100%;

      @media (width > 800px) {
        width: 50%;
      }
    }
  }

  .informacion {
    padding: 16px;

    h3 {
      font-size: 30px;
      font-weight: 900;
      line-height: 1;
      color: var(--background-color);
      padding: 10px;
      margin: 0;
      border-bottom: var(--background-color) 2px solid;
    }

    p {
      margin: 20px 0;
      color: var(--background-color);
      line-height: 1.5;
    }
  }

  .tecnologias {
    display: flex;
    gap: 12px;
    margin: 20px 0;

    .icon-container {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 8px;
      padding: 4px;
      background-color: var(--texto-color);
      transition: transform 0.3s ease;
    }

    .icon-container:hover {
      transform: scale(1.1);
    }

    .icon-container:hover span {
      opacity: 1;
      transform: translateY(-50px);
    }

    span {
      position: absolute;
      transform: translateY(-30px);
      opacity: 0;
      font-weight: 700;
      text-align: center;
      background-color: var(--background-color);
      color: var(--color-primario);
      border-radius: 4px;
      padding: 4px 8px;
      transition:
        opacity 0.3s ease,
        transform 0.3s ease;
    }
  }

  .botones {
    display: flex;
    gap: 12px;

    a {
      width: 100%;
      max-width: 50%;

      &:only-child {
        max-width: calc(50% - 30px);
      }
    }
  }
</style>
