---
import IconWorld from "@/Icons/IconWorld.astro";
import IconGithub from "@/Icons/IconGithub.astro";
import { TECNOLOGIAS_ICONOS, TODAS_TECNOLOGIAS } from "@/consts";
import { PROYECTOS } from "@/consts";
import IconCode from "@/Icons/IconCode.astro";
import { getI18N } from "@/i18n";

const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale });
---

<section id={i18n.SECTION_NAVBAR.PROJECTS}>
  <h2>
    <IconCode width="40" height="40" />
    {i18n.SECTION_PROJECTS.TITLE}
  </h2>

  <div class="proyectos">
    {
      PROYECTOS.map(({ titulo, tecnologias, github, web, imagen }) => (
        <article class="proyecto">
          <img src={imagen} alt={titulo} />

          <div class="informacion">
            <h3> {i18n.SECTION_PROJECTS.PROJECTS[titulo].TITLE} </h3>
            <p> {i18n.SECTION_PROJECTS.PROJECTS[titulo].DESCRIPTION} </p>

            <ul class="tecnologias">
              {tecnologias.map((tecnologia) => {
                const Icon = TECNOLOGIAS_ICONOS[tecnologia];
                const color = TODAS_TECNOLOGIAS.find(
                  (tec) => tec.nombre === tecnologia
                ).color;

                return (
                  <li
                    class="icon-container"
                    style={{
                      "--background-dif": color,
                    }}
                  >
                    <Icon class="icon" width="40" height="40" />
                    <span class="tooltip"> {tecnologia} </span>
                  </li>
                );
              })}
            </ul>

            <div class="botones boton-uno">
              {github && (
                <a
                  href={github}
                  aria-label="Visit project GitHub"
                  target="_blank"
                >
                  <IconGithub width="25" height="25" />
                  {i18n.SECTION_BUTTONS.GITHUB}
                </a>
              )}

              {web && (
                <a
                  href={web}
                  aria-label="Visit project website"
                  target="_blank"
                >
                  <IconWorld width="30" height="30" />
                  {i18n.SECTION_BUTTONS.WEB}
                </a>
              )}
            </div>
          </div>
        </article>
      ))
    }
  </div>
</section>

<style>
  section {
    padding: 50px 0;
  }

  .proyectos {
    display: flex;
    flex-direction: column;
    gap: 48px;
  }

  .proyecto {
    display: grid;
    grid-template-columns: 1fr;
    max-width: 600px;
    margin: auto;
    overflow: hidden;
    border: var(--color-primario) 3px solid;
    border-radius: 12px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.5);
    animation-timeline: view();
    animation-name: mostrar;
    animation-fill-mode: both;
    animation-range: entry 25% cover 50%;

    @media (width >= 800px) {
      max-width: none;
      grid-template-columns: 1fr 1fr;
    }

    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }

  .informacion {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 12px;

    h3 {
      font-size: 28px;
      font-weight: 900;
      line-height: 1;
      color: var(--texto-color);
      padding: 10px;
      margin: 0;
      border-bottom: var(--texto-color) 2px solid;

      @media (width <= 400px) {
        font-size: 24px;
      }
    }

    p {
      margin: 20px 0;
      color: var(--texto-color);
      line-height: 1.5;
    }
  }

  .tecnologias {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
    margin: 12px 0;
    padding: 0;
  }

  .botones {
    display: flex;
    gap: 12px;

    a {
      width: 100%;
      max-width: 50%;

      &:only-child {
        max-width: calc(50% - 30px);
      }
    }
  }
</style>
